/* Demo CSS - You do not need this css in your own slider */

body{
	font-family: "Open Sans", helvetica, arial;
}

pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#container h2 {
  font-size: 24px !important;
  font-weight: 600;
  margin-bottom: 10px;
}


pre + h2{
	margin-top: 80px;
}

#container{
	max-width:620px;
	margin:0 auto;
	padding-bottom: 10 !important;
}

#banner-fade,
#banner-slide{
	margin-bottom: 20px !important;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}


/* Grundstil für Pfeile */
.bjqs-prev a,
.bjqs-next a {
  font-size: 32px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}

/* Hover-Effekt für Pfeile */
.bjqs-prev a:hover,
.bjqs-next a:hover {
  color: #888;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.45);
}

/* leichte Positionierung */
.bjqs-prev a { left: -8px; }
.bjqs-next a { right: -8px; }

/* mobile Ansicht optimieren */
@media (max-width: 600px) {
  .bjqs-prev a,
  .bjqs-next a {
    font-size: 24px;   /* etwas kleiner auf Handy */
  }

  .bjqs-prev a { left: -4px; }
  .bjqs-next a { right: -4px; }
}

/* Caption (Name unten links) */
.bjqs-caption {
  font-style: italic;
  color: #666;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}
